.containerMega {
    position: absolute;
    bottom: 25px;
}

.reacting {
    position: relative;
    display: inline-block;
}

.containerBox {
    position: relative;
    display: inline-block;
}
.text-box {
    position: absolute;
    height: 48%;
    text-align: center;
    width: 90%;
}
.text-box:before {
   content: '';
   display: inline-block;
   height: 100%;
   vertical-align: middle;
}

.text-box-reply-pari {
    position: absolute;
    height: 95%;
    text-align: center;
    width: 115%;
}
.text-box-reply-pari:before {
   content: '';
   display: inline-block;
   height: 100%;
   vertical-align: middle;
}


@media all and (max-width: 3000px) { /* screen size until 1200px */
    p {
        font-size: 2.5em; /* 1.5x default size */
        display: inline-block;
        max-width: 250px;
        line-height: 1;
        color: #3d475a;
    }
}
@media all and (max-width: 1000px) { /* screen size until 1000px */
    p {
        font-size: 1.8em; /* 1.2x default size */
        display: inline-block;
        max-width: 250px;
        line-height: 1;
        color: #3d475a;
        }
    }
@media all and (max-width: 500px) { /* screen size until 500px */
    p {
        font-size: 1em; /* 0.8x default size */
        display: inline-block;
        max-width: 250px;
        line-height: 1;
        color: #3d475a;
        }
    }

p {
   font-family: 'Verdana';
   display: inline-block;
   max-width: 250px;
   line-height: 1;
   color: #3d475a;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

@font-face {
    font-family: 'ilieticamedium';
    src: url('../assets/ilietica-webfont.woff2') format('woff2'),
         url('../assets/ilietica-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'comic_sacchmedium';
    src: url('../assets/comic_sacch-webfont.woff2') format('woff2'),
         url('../assets/comic_sacch-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'mariett';
    src: url('../assets/mariett-webfont.woff2') format('woff2'),
         url('../assets/mariett-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'moskifymedium';
    src: url('../assets/moskify-webfont.woff2') format('woff2'),
         url('../assets/moskify-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'myscriptfontmedium';
    src: url('../assets/pr_ciceri_bold-webfont.woff2') format('woff2'),
         url('../assets/pr_ciceri_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
