<div class="container">
  <div class="containerBox">
      <div class="text-box">
          <p [ngStyle]="{'font-family': fontfamily, 'font-size': size + 'em'}">{{newsentence.value}}</p>
      </div>
      <img class="img-responsive" src="../assets/dinos_inizio.png"/>
  </div>
  <ul class="nav" *ngFor="let dino of ultimodinosaurssays | async">
    <div class="alert alert-success text-center" role="alert"><li><a href="{{appUrl}}{{dino.$key}}">{{appUrl}}{{dino.$key}}</a></li></div>
  </ul>
  <div class="reacting col-sm-4 col-sm-offset-4">
    <div class="input-group">
      <input (keyup)="0" type="text" class="form-control" #newsentence placeholder="Saurs thinking about..." />
      <div class="input-group-btn dropup">
        <button type="button" class="btn btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-font" aria-hidden="true"></span><span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li style="font-family:'comic_sacchmedium';" class="comic_sacchmedium" value="comic_sacchmedium" (click)="fontfamily = 'comic_sacchmedium'"><a>Comic Sacch</a></li>
          <li style="font-family:'ilieticamedium';" class="ilieticamedium" value="ilieticamedium" (click)="fontfamily = 'ilieticamedium'"><a>Ilietica</a></li>
          <li style="font-family:'mariett';" class="mariett" value="mariett" (click)="fontfamily = 'mariett'"><a>Mariett</a></li>
          <li style="font-family:'moskifymedium';" class="moskifymedium" value="moskifymedium" (click)="fontfamily = 'moskifymedium'"><a>Moskify</a></li>
          <li style="font-family:'myscriptfontmedium';" class="myscriptfontmedium" value="myscriptfontmedium" (click)="fontfamily = 'myscriptfontmedium'"><a>PT Ciceri</a></li>
        </ul>
        <button type="button" class="btn btn-success" (click)="addAndShareItem(newsentence.value)">Share</button>
      </div><!-- /btn-group -->
    </div><!-- /input-group -->
  </div><!-- /.col-sm-4 -->
</div>
