<div class="containerMega">
  <div class="containerBox">
    <div  *ngIf='previousMessages' class="text-box-reply-pari">
        <p [ngStyle]="{'font-family': previousMessages?.fontfamily, 'font-size': previousMessages?.fontsize + 'em'}">{{previousMessages?.text}}</p>
    </div>
    <img  *ngIf='previousMessages' class="img-responsive" src="../assets/dinos_reply_pari.png"/>
  </div>
  <div class="containerBox">
    <div class="text-box">
        <p [ngStyle]="{'font-family': dinosaursays?.fontfamily, 'font-size': dinosaursays?.fontsize + 'em'}">{{ dinosaursays?.text }}</p>
    </div>
    <img class="img-responsive" src="../assets/dinos_inizio.png"/>
  </div>
  <div class="reacting col-xs-6 col-xs-offset-3 text-center">
      <div class="btn-group">
        <button class="btn btn-default" routerLink="/">New</button>
        <button class="btn btn-success" routerLink="/reply/{{dinosaursid}}">Reply</button>
      </div><!-- /.col-sm-4 -->
  </div><!-- /.row -->
</div>
