<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/">Oh no! <strong>Saurs!</strong></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left">
        <button class="btn btn-default" routerLink="/">New</button>
        <button class="btn btn-success" routerLink="/reply/{{dinosaursid}}">Reply</button>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="containerBox">
    <div class="text-box">
        <p [ngStyle]="{'font-family': dinosaursays?.fontfamily, 'font-size': dinosaursays?.fontsize + 'em'}">{{ dinosaursays?.text }}</p>
    </div>
    <img class="img-responsive" src="../assets/dinos2.png"/>
</div>
